<div class="support-form-container">
  <div class="sp-header">
    <span>Support us on Indiegogo</span>
  </div>
  <div class="sp-content">
    <div class="sp-body">
      <div class="sp-title">We need your help!</div>
      <p>We would like to invite you to sponsor us at Indiegogo</p>
      <p>As a DraftMatch supporter you will have <span class="cerise">exclusive</span> access to weekly rewards, unique badges, and much more!</p>
    </div>
    <div class="sp-footer">
      <button class="dismiss-btn" (click)="showSignup()"><span>No, thank you</span></button>
      <button class="get-reward">Get rewards</button>
    </div>
  </div>
</div>