<div class="players">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>
            <div>All games</div>
          </th>
          <th class="ta-c">
            <div class="sort-by" (click)="orderBy(!sortDesc)">
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="sortDesc"></i>
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="!sortDesc"></i>
              <span class="p-l-10">Salary</span>              
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'highlighted':player.selected, 'border-unset': !player.selected}" *ngFor="let player of players" class="player-row" (click)="selectPlayer(player)">
          <td class="p-l-5">
            <div class="flex">
              <div class="player-img">
                <img [src]="player.img" alt="">
                <div class="dm-lines"></div>
                <div class="gtd-label" *ngIf="player.gtd">GTD</div>
              </div>
              <div class="flex-column">
                <span>{{player.name}}</span>
                <span>{{player.place}}</span>
                <span class="c-gray">{{player.time}}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="flex p-relative">                            
              <div class="flex-column salary-data">
                <span class="salary">{{player.salary}}</span>
                <div class="flex game-details">
                  <div class="flex-column">
                    <span><b>{{player.points}}</b></span>
                    <span class="c-gray x-small">FPPG</span>
                  </div>
                  <div class="flex-column">
                    <span><b>{{player.matches}}</b></span>
                    <span class="c-gray x-small">Played</span>
                  </div>                                
                </div>
              </div>
              <div class="dm-plus-icon icon"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>