@import "../../../../theme/theme-variables";

.players {
    padding: 15px 0;
}

.table {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        thead {
            tr {
                background: #e2e2e2;;
                th {
                    padding: 20px 10px;
                }
            }
        }
        tbody {
            .player-img {
                width: 90px;
                height: 70px;
                position: relative;
                img {
                    height: 100%;
                }
                .dm-lines {
                    position: absolute;
                    top: -15px;
                    left: -1px;
                }
                .gtd-label {
                    position: absolute;
                    top: -15px;
                    right: 0;
                    background: $dm-red;
                    color: white;
                    font-size: 12px;
                    padding: 0 3px;
                }
            }
            td {
                padding: 25px 0;
                &:nth-child(2) {
                    width: 25%;
                }
            }
            .salary-data {
                text-align: center;
                align-items: center;
                width: 70%;
                border-right: 1px solid $dm-light-gray;
                .salary {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .game-details {
                width: 100%;
                div {
                    width: 50%;
                }
            }
        }
    }
}
.dm-plus-icon {
   &.icon {
       position: absolute;
       right: 10px;
       top: 10px;
       &:hover {
           cursor: pointer;
       }
   }    
}

.x-small {
    font-size: x-small;
}

.player-row {
    &:hover {
        cursor: pointer;
    }
}

.b-l-n {
    border-left: none !important;
}
.b-r-n {
    border-right: none !important;
}

tr.highlighted td {
    border-top: 1px solid $dm-red;
    border-bottom: 1px solid  $dm-red;
}
  
tr.highlighted td:first-child {
    border-left: 1px solid  $dm-red;
}
tr.highlighted td:last-child {
    border-right: 1px solid  $dm-red;
}
.border-unset {
    border: none;
}
.highlighted {
    box-shadow: 0 0 10px #b34848;
}

.sort-by {
    position: relative;
    .fa {
        font-size: 24px;
        position: absolute;
        left: 25%;
        &.fa-sort-desc {
            top: -6px;
        }
        &.fa-sort-asc {
            top: 2px;
        }
    }
    &:hover {
        cursor: pointer;
    }
}