<div class="trust-and-safety">
  <div class="wrapper">
    <dm-navi-bar></dm-navi-bar>
    <div class="header-title">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <h1 class="terms-title">Trust and Safety</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="blog-post">
      <div class="container">
        <article class="section section-text">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 page-content-wrap">
              <p>DraftMatch builds a community of honesty and trust and we do our best to make sure everyone plays by the rules. We give utmost importance to safety. We always strive to make the fundraising process seamless, positive and most importantly secure. We never let authenticity and transparency take a back seat.</p>
              <p>We protect your payment and login information, but be careful not to post any sensitive data for everyone to see. If you are not sure about which sections of DraftMatch are public, please review our Privacy Policy.</p>
              <p>Our mission is to maintain an open and honest platform for our users to interact, but every user is responsible for his or hers actions on DraftMatch.</p>
              <p>DraftMatch also works behind-the-scenes to prevent fraud and, in the event a problem occurs, DraftMatch proactively works with law enforcement and government agencies throughout the world to enforce its policies.<br>
                To help the community play safely and build trust with one another, DraftMatch does the following:</p>
              <p>We listen.&nbsp;We didn’t just build DraftMatch, our team is always watching over the platform and reviewing reports from the community. Our community helps us make sure this is the safest, most effective platform around.</p>
              <p>We monitor the system.&nbsp;Our team uses different tools to identify and investigate suspicious activity.</p>
              <p>With the use of bitcoin, we don’t store your card information or your payment details.</p>
              <p>Your data is safe. We’ll only use your information in cases described in Privacy Policy.</p>              
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>