
<div class="dm-matchup">
    <dm-banner> </dm-banner>
    <div class="game-content" #contest>
        <div><span class="title capitalize">Create contest</span></div>
        <div class="steps">
            <div *ngFor="let step of steps" class="step">
                <dm-contest-icon [isChecked]="step.isChecked"
                                 [isLastOne]="step.isLastOne"
                                 [id]="step.id"
                                 [title]="step.title"> 
                </dm-contest-icon>
            </div>
        </div>
        <div class="form">
            <div *ngFor="let step of steps">
                <div *ngIf="step.key === 'gameTime' && step.current">
                    <dm-slate [matches]="slateSelected?.games"
                             [gameTimes]="gameTimes"
                             [pageLoaded]="pageLoaded"
                             (getGameTime)="getGameTime($event)">
                    </dm-slate>                    
                </div>
                <div *ngIf="step.key === 'entryFee' && step.current">
                    <dm-entry-fee (getEntryFee)="getEntryFee($event)"
                                  [feeSelected]="entryFeeSelected"></dm-entry-fee>                    
                </div>
                <div *ngIf="step.key === 'matchupType' && step.current">
                    <dm-matchup-type (getMatchupType)="getMatchupType($event)"
                                     [matchType]="matchupSelected"></dm-matchup-type>
                </div>
                <div *ngIf="step.key === 'playerPosition' && step.current">
                    <dm-player-position (getPlayerPosition)="getPlayerPosition($event)"
                                        [positionSelected]="positionSelected"></dm-player-position>
                </div>
                <div *ngIf="step.key === 'selectPlayer' && step.current">
                    <dm-select-player [players]="players"
                                      (getPlayer)="getPlayer($event)"
                                      (getPlayers)="getPlayers($event)">
                    </dm-select-player>
                </div>
                <div *ngIf="step.key === 'createContest' && step.current">
                    <dm-overview-contest [contestData]="contestData"
                                         [slateSelected]="slateSelected"
                                         [entryFeeSelected]="entryFeeSelected"
                                         [positionSelected]="positionSelected"
                                         [matchupSelected]="matchupSelected"
                                         [playerSelected]="playerSelected"
                                         (selectedRow)="selectRow($event, contest)">
                    </dm-overview-contest>
                </div>
            </div>
            
            <div class="error" *ngIf="!steps[activeFormIndex].valid && steps[activeFormIndex].stepSubmitted">
                <span>{{steps[activeFormIndex].errorMsg}}</span>
            </div>
            <div class="submit-button">
                <button *ngIf="steps[activeFormIndex].key !== 'createContest' || !steps[activeFormIndex].current" class="dm-red-btn" (click)="next($event, contest)">Next</button>
                <button *ngIf="steps[activeFormIndex].key === 'createContest' && steps[activeFormIndex].current" class="dm-red-btn" (click)="createMatchup($event)">Create Matchup</button>
            </div>
        </div>
    </div>
</div>