<table>
    <thead>
        <tr>
            <th *ngFor="let thead of theads">
                <div>{{thead.title}}</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of values">
            <td *ngIf="historyTable">
                <div>{{value.start | date: 'shortDate'}}</div>
            </td>
            <td>
                <div class="flex" >
                    <div class="dm-player"></div>
                    <div class="flex-column p-l-5">
                        <div class="flex">                        
                            <span class="position">{{value.position}}</span>
                            <span class="p-r-10" *ngIf="value && value.entries && value.entries.length">
                                {{value.entries[0].fantasy_player.name}}
                            </span>
                        </div>
                        <div class="flex" *ngIf="value && value.entries && value.entries.length">
                            <span [ngClass]="{'bold': value.entries[0].game.homeTeam === value.entries[0].fantasy_player.team}">
                                {{value.entries[0].game.homeTeam}}
                            </span>
                            <span class="p-l-5 p-r-5" *ngIf="!matchups">{{value.entries[0].game.homeScore}}</span>
                            <span>@</span>
                            <span [ngClass]="{'bold': value.entries[0].game.awayTeam === value.entries[0].fantasy_player.team}">
                                {{value.entries[0].game.awayTeam}}
                            </span>
                            <span class="p-l-5 p-r-5" *ngIf="!matchups">{{value.entries[0].game.awayScore}}</span>
                        </div>
                        <div class="flex">
                            <span class="gray-label">{{value.name}}</span>
                        </div>
                    </div>
                </div>
            </td>
            <td *ngIf="!matchups">
                <div class="score">{{value.entries[0].fantasy_player.fps}}</div>
            </td>
            <td>
                <div class="flex" *ngIf="value && value.entries && value.entries.length === 2">                
                    <div class="dm-player"></div>
                    <div class="flex-column p-l-5">
                        <div class="flex">                        
                            <span class="position">{{value.position}}</span>
                            <span class="p-r-10">
                                {{value.entries[1].fantasy_player.name}}
                            </span>
                        </div>
                        <div class="flex">
                            <span [ngClass]="{'bold': value.entries[1].game.homeTeam === value.entries[1].fantasy_player.team}">
                                {{value.entries[1].game.homeTeam}}
                            </span>
                            <span class="p-l-5 p-r-5" *ngIf="!matchups">{{value.entries[1].game.homeScore}}</span>
                            <span>@</span>
                            <span [ngClass]="{'bold': value.entries[1].game.awayTeam === value.entries[1].fantasy_player.team}">
                                {{value.entries[1].game.awayTeam}}
                            </span>
                            <span class="p-l-5 p-r-5" *ngIf="!matchups">{{value.entries[1].game.awayScore}}</span>
                        </div>
                        <div class="flex">
                            <span class="gray-label">{{value.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="dm-question-mark" *ngIf="!value || !value.entries || value.entries.length !== 2"></div>
            </td>
            <td *ngIf="!matchups">
                <div class="score"> {{value.entries[1].fantasy_player.fps}}</div>
            </td>
            <td *ngIf="matchups">
                <div class="matchup-type" *ngIf="value.matchupType === 'tier_ranking'">Tier Rank {{value.tier}}</div>
                <div class="matchup-type" *ngIf="value.matchupType === 'any_challenger'">Any Challenger</div>
                <div class="matchup-type" *ngIf="value.matchupType === 'set_opponent'">Set Opponent</div>
            </td>
            <td>
                <div class="entry-value">${{value.entryFee}}</div>
            </td>
            <td *ngIf="!matchups">
                <div class="winning-value" [class.green-label]="value.prize > 0">${{value.prize}}</div>
            </td>
            <td *ngIf="matchups">
                <div class="winning-value">
                    <div  *ngIf="value.editStatus === 'locked'" class="dm-lock"></div>
                    <div class="edit-icons fa fa-pencil-square-o" (click)="editMatchup(value)" *ngIf="value.editStatus === 'edit'"></div>
                    <div class="edit-icons close-sign" (click)="cancelMatchup(value)" *ngIf="value.editStatus === 'cancel'">X</div>
                  
                </div>
            </td>
            <!-- When a user hits edit it should bring it back to the create contest page if they are the creator.  
                If they are the joining player, it brings it back to the enter contest page -->
        </tr>
        <tr *ngIf="!values || !values.length">
            <td colspan="7">
                <div class="no-data">No data to show yet</div>
            </td>
        </tr>
    </tbody>
</table>