@import "../../../theme/theme-variables";

.dm-matchups {
    background: #f5f5f5;
    padding-bottom: 40px;
    /deep/ dm-banner {
       .dm-banner {
            background: $dm-banner;
            box-shadow: 0px -15px 50px #750202 inset;
       } 
    }
}
