
<div class="dm-lobby">
    <dm-banner> </dm-banner>
    <div class="nfl-tab-container">
        <div class="nfl-tab">
            <div class="dm-nfl-icon"></div>
        </div>
    </div>
    <dm-carousel></dm-carousel>
    <div class="lower-part">
        <dm-filter-column class="filter-column"></dm-filter-column>
        <div class="main-column">
            <div class="lobby-bck">
                <div class="flex headlines">
                    <dm-headline-matchup class="headline"></dm-headline-matchup>
                    <dm-headline-matchup class="headline"></dm-headline-matchup>
                    <dm-headline-matchup class="headline"></dm-headline-matchup>
                </div>
                <div class="matchup-table">
                    <dm-matchup-table></dm-matchup-table>
                </div>
            </div>
        </div>
    </div>
</div>