<div class="footer">
  <div class="footer-container">
    <div class="content flex" [ngClass]="{'flex-column': responsiveService.media.visibleSm || responsiveService.media.visibleXs || responsiveService.media.visibleXxs}">
      <div class="col-md-4 col-sm-12">
        <div class="section">
          <h5 class="uppercase"><b>Company</b></h5>
          <div class="section-text flex" [ngClass]="{'flex-column': responsiveService.media.visibleSm || responsiveService.media.visibleXs || responsiveService.media.visibleXxs}">
            <div class="col-md-6 col-sm-12 flex-column p-0">
              <div class="item">About DraftMatch</div>
              <div class="item">Careers</div>
              <div class="item">Mobile Apps</div>
              <div class="item">Affiliates</div>
              <div class="item">Refer a Friend</div>
              <div class="item">Contact Us</div>
            </div>
            <div class="col-md-6 col-sm-12 flex-column p-0">
              <div class="item" routerLink="/terms-of-use">Terms of Use</div>
              <div class="item" routerLink="/privacy-policy">Privacy Policy</div>
              <div class="item" routerLink="/responsible-play">Responsible Play</div>
              <div class="item" routerLink="/trust-and-safety">Trust and Safety</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">        
        <div class="section">
          <h5 class="uppercase"><b>#Draftmatch</b></h5>
          <div class="section-text">
            <p>The Fastest Way to Play Daily Fantasy Sports.</p>
            <p>Create a Contest or Enter a Matchup.</p>
            <p>Select a Player and Compete to Win!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 p-0">
        <div class="section flex-column">
          <div class="first-row flex" [ngClass]="{'flex-column': responsiveService.media.visibleSm || responsiveService.media.visibleXs || responsiveService.media.visibleXxs}">
            <div class="col-md-7 col-sm-12 flex-column">
              <h5 class="uppercase"><b>Sports</b></h5>
              <div class="section-text flex-column">
                <div>NFL</div>
              </div>
              <h5 class="uppercase"><b>Location</b></h5>
              <div class="section-text flex-column">
                <div>US Office</div>
                <div>Burlingame, CA</div>
                <div>94010</div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12" [ngClass]="{'p-t-10': responsiveService.media.visibleSm || responsiveService.media.visibleXs || responsiveService.media.visibleXxs}">
              <div class="footer-logo"></div>
            </div>
          </div>
          <div class="first-row">
            <div class="social-networks">
              <a href="https://www.facebook.com/DraftMatch/" target="blank"><div class="social-icon fb"></div></a>
              <a href="https://twitter.com/DraftMatch/" target="blank"><div class="social-icon tw"></div></a>
              <a href="https://www.instagram.com/draftmatch/" target="blank"><div class="social-icon ig"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
        DraftMatch LLC © 2017. All Rights Reserved
    </div>
  </div>
</div>
