@import "../../../theme/theme-variables";

.footer {
  display: block;
  height: 170px;
  background-color: black;
  padding: 15px 0 18px;
  @media screen and (max-width: $break-small) {
    height: 888px;
  }
  @media screen and (max-width: 420px) {
    height: 930px;
  }
  .footer-container {
    font-weight: bold;
    color: #5c5c5c;
    padding: 5px 35px;
    @media screen and (max-width: $break-small) {
      padding-left: 20px;
    }
    .item {      
      &:hover {
        cursor: pointer;
        color: $dm-red;
        transition: all 0.5s ease;
      }
    }
    h5 {
      color: white;
      line-height: 2.7;
    }
  }  
}

.flex-to-sm-column {
  display: flex;
  flex-flow: row;
  @media screen and (max-width: $break-small) {
    flex-flow: column;
  }
}

.section-text {
  line-height: 1.52;
 
  p {
    margin-bottom: 0px;
    line-height: 1.29;
  }
}

.social-networks {
  display: flex;
}

.social-icon {
  &.fb {    
    background: url("../../../assets/images/facebook.png");
  }
  &.tw {    
    background: url("../../../assets/images/twitter.png");
  }
  &.ig {    
    background: url("../../../assets/images/instagram.png");
  }
  background-size: 65px 65px !important;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat !important; 
  &:hover {
      cursor: pointer;
  }
}

.footer-logo {
  background: url("../../../assets/images/dm-white-logo.png");
  background-size: 150px 115px;
  width: 150px;
  height: 115px;
  background-repeat: no-repeat;
  @media screen and (max-width: $break-large - 1) {
    background-size: 110px 90px;
    width: 110px;
    height: 90px;
  }
  @media screen and (max-width: $break-small) {
    background-size: 208px 161px;
    width: 208px;
    height: 161px;
  }
}

.copyrights {
  text-align: center;
  font-size: 18px;
  @media screen and (max-width: $break-small) {
    text-align: left;
    font-size: 17px;
  }
  @media screen and (max-width: $break-xxsmall) {
    font-size: 12px;
  }
}

// new small footer 

.section {
  padding: 0 15px;
}

.right {
  text-align: right;
  .social-networks {
    justify-content: flex-end;
  }
}