<div class="footer">
  <div class="footer-container">
    <div class="content flex">
      <div class="half flex-to-sm-column">
        <div class="section">
          <div class="item" routerLink="/dm/terms-of-use">Terms of Use</div>
        </div>            
        <div class="section">
          <div class="item" routerLink="/dm/privacy-policy">Privacy Policy</div>          
        </div>             
        <div class="section">
          <div class="item" routerLink="/dm/responsible-play">Responsible Play</div>        
        </div>
        <div class="section">
          <div class="item" routerLink="/dm/trust-and-safety">Trust and Safety</div>     
        </div>
      </div>
      <div class="half p-0 right">
        <div class="section flex-column">
          <div class="first-row">
            <div class="social-networks">
              <a href="https://www.facebook.com/DraftMatch/" target="blank"><div class="social-icon fb"></div></a>
              <a href="https://twitter.com/DraftMatch/" target="blank"><div class="social-icon tw"></div></a>
              <a href="https://www.instagram.com/draftmatch/" target="blank"><div class="social-icon ig"></div></a>
            </div>
          </div>
          <div class="first-row uppercase c-white f-20 p-r-20">
            #Draftmatch
          </div>
          <div class="item f-15 p-r-20" routerLink="/blog">Blog</div>
        </div>
      </div>
    </div>
    <div class="copyrights">
        DraftMatch LLC © 2017. All Rights Reserved
    </div>
  </div>
</div>
