@import "../../../../theme/theme-variables";

.entry-fee {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 800px;
    margin: auto;
    padding: 25px 15px;
}
.fee {
    margin: 5px 0;
    width: 33%;
    @media screen and (max-width: $break-xsmall) {
        width: 50%;
    }
}

.fee-prize {
    display: flex;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    padding: 20px 0;
    @media screen and (max-width: $break-xsmall) {
        width: 95%;
    }
    .item {
        width: 50%;
        text-align: center;
        padding: 10px 0;
        .value {
            font-size: 40px;
            @media screen and (max-width: $break-xsmall) {
               font-size: 35px;
            }
        }
        .title {
            font-size: 25px;
            @media screen and (max-width: $break-xsmall) {
                font-size: 20px;
             }
        }
    }
    .item:first-child {
        border-right: 2px solid $dm-light-gray;
    }
}