.expanded {
    background: #202125;
}
.auth-container {
    text-align: center;    
    margin: auto;
    padding-top: 50px;
    @media screen and (min-width: $break-xsmall) {
        width: 400px;
    }
    .input-section {
        background: white;
        font-size: 13px;
        margin-top: 20px;
        padding: 30px 10px;
    }
}

.logo-section {
    margin: auto;
}

.auth-input {
    height: 30px;
    width: 80%;
    border: 1px solid;
    padding: 1px 8px;
}

.auth-label {
    text-align: left;
    width: 80%;
    margin: auto;
    min-height: 21px;
    padding-top: 15px;
    line-height: 20px;
}

.play-button, .login-button {
    width: 80%;
    margin: auto;
}

.auth-agree {   
    padding-top: 20px;
    padding-bottom: 10px;
    width: 78%;
    margin: auto;
    font-size: 10px;
    &.reset {
        width: 85%;
    }
}

.label {    
    &:hover {
        color: $dm-light-gray;
    }
}