/*
 * Application global variables.
 */
//https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries
//https://www.templatemonster.com/blog/bootstrap-3-grid-system-guide/
$break-xlarge: 1440px;
$break-large: 1200px;
$break-medium: 992px;
$break-small: 768px;
$break-xsmall: 480px;
$break-xxsmall: 320px;