/*
 * Application global variables.
 */
//https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries
//https://www.templatemonster.com/blog/bootstrap-3-grid-system-guide/
$break-xlarge: 1440px;
$break-large: 1200px;
$break-medium: 992px;
$break-small: 768px;
$break-xsmall: 480px;
$break-xxsmall: 320px;

//colors
$border-gray: #3d4351;
$dm-light-gray: #b5b5b5;
$dm-red: #ed1e1e;
$dm-banner: #a60b0b;
$dm-red-btn-hover: #b61717;
$dm-red-1: #ed2f2f;
$dm-green: #06c906;
$dm-dark-gray: #292b30;
$dm-banner-gray: #434343;