<div class="navbar-header">
    <div class="nav-container">
        <div class="logo-container column">
            <div class="dm-logo"></div>
        </div>  
        <div class="nav-list-container column">
            <ul class="list-inline">
                <li class="list-inline-item item">Lobby</li>
                <li class="list-inline-item item">Matchups</li>
                <li class="list-inline-item item">Live</li>
                <li class="list-inline-item item">History</li>
                <li class="list-inline-item item">Friends</li>
            </ul>
        </div>
        <div class="buttons-container">
            <button class="white-btn" (click)="goToLogin()">Login</button>
            <button class="gray-btn" (click)="goToSignup()">Join</button>
        </div>
    </div>
</div>