
@import "../../../theme/theme-variables";

.navbar-header {
    background: #ffffff;
    height: 127px;
    padding: 15px 0px 0px 0px;
    @media screen and (max-width: $break-xsmall) {
        padding: 5px 0px 0px 0px;
        height: 95px;
    }
    .nav-container {
        display: flex;
        position: relative;
        padding: 0px 2vw 0px 4vw;
        @media screen and (max-width: $break-large - 1) {
            padding: 0px 2vw 0px 3vw;
        }
        @media screen and (max-width: $break-small) {
            padding: 0px 2vw 0px 0px;
        }
        @media screen and (max-width: $break-xsmall) {
            justify-content: center;
            padding: 0px;
        }
        .column {
            display: flex;
        }
        ul {
            &.list-inline {
                display: inline-flex;
                text-align: center;
                vertical-align: top;
                margin: 0px;
                @media screen and (max-width: $break-small) {
                    padding-left: 0px;
                }
            }
            li {
                cursor: pointer;
                width: 100px;
                list-style: none;
                padding-top: 20px;
                @media screen and (max-width: $break-small) {
                    width: 95px;
                }
                &:hover {
                    color: $dm-red;
                  //  border-bottom: $dm-red solid 2px !important;
                  //  border-radius: 5px;
                }
            }
            li.active {
                border-bottom: $dm-red solid 5px;
            }
        }
        .nav-list-container {
            padding: 20px 0px;
            width: 57%;
            @media screen and (max-width: $break-small) {
                padding: 15px 0px;
            }
        }
        .logo-container {
            width: 13%;
            @media screen and (max-width: $break-xsmall) {
                width: unset;
            }
        }
        .buttons-container, .user-profile-container {
            float: right;
            position: absolute;
            right: 0px;
            align-self: center;
            text-align: right;
            width: 370px;
            @media screen and (max-width: $break-small) {
                width: 30%;
                display: flex;
            }
            @media screen and (max-width: $break-xsmall) {
                width: unset;
                right: 15px;
            }
            button:first-child {
                margin-right: 10px;
            }
            button:nth-child(2) {
                margin-left: 10px;
                @media screen and (max-width: $break-small) {
                    margin-left: 0;
                }
            }
        }
        .user-profile-container {
            display: flex;
            flex-flow: row nowrap;
            @media screen and (max-width: $break-small) {
                button {
                    position: absolute;
                    bottom: -20px;
                    right: -0px;
                }
            }
            div {
               flex: 1; 
            }
            div:nth-child(3) {
                flex: 1.5;
            }
            .user-profile {
                position: relative;
                .user {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 3px;
                }
            }
            .balance {
                display: flex;
                padding: 0 15px 0 15px;
                align-items: center;
                @media screen and (max-width: $break-small) {
                    flex-flow: column;
                }
            }
        }
        .balance-container {
            position: absolute;
            right: 10px;
            top: 10px;
            .balance {
                display: flex;
                flex-flow: column;  
                text-align: right;              
                @media screen and (max-width: $break-xsmall) {
                    padding-right: 0;
                }
                span:nth-child(2) {
                    font-size: 12px;
                }
            }
            .green-btn {
                height: 30px;
                padding: 3px;
                font-size: 12px;
            }
        }
    }
}

.hamburger-menu-container {
    color: black;
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 35px;
    &:hover {
        cursor: pointer;
    }
}

.nav-icon {
    font-size: 45px;
    color: gray;
    &.user {
        font-size: 39px;
    }
    &:hover {
        cursor: pointer;
        color: $dm-red;
    }
}