
@import "../../../theme/theme-variables";

.navbar-header {
    background: #ffffff;
    height: 130px;
    padding: 15px 0px;
    @media screen and (max-width: $break-xsmall) {
        padding: 5px 0px 0px 0px;
        height: 95px;
    }
    .nav-container {
        display: flex;
        position: relative;
        padding: 0px 2vw 0px 4vw;
        @media screen and (max-width: $break-large - 1) {
            padding: 0px 2vw 0px 3vw;
        }
        @media screen and (max-width: $break-small) {
            padding: 0px 2vw 0px 0px;
        }
        .column {
            display: flex;
        }
        ul {
            &.list-inline {
                display: inline-flex;
                text-align: center;
                vertical-align: top;
                margin: 0px;
                @media screen and (max-width: $break-small) {
                    padding-left: 0px;
                }
            }
            li {
                cursor: pointer;
                width: 100px;
                list-style: none;
                padding-top: 20px;
                &:hover {
                    color: red;
                    border-bottom: red solid 2px;
                    border-radius: 5px;
                }
            }
        }
        .nav-list-container {
            padding: 20px 0px;
            width: 57%;
            @media screen and (max-width: $break-small) {
                width: 67%;
            }
        }
        .logo-container {
            width: 13%;
            @media screen and (max-width: $break-xsmall) {
                width: unset;
            }
        }
        .buttons-container, .user-profile-container {
            float: right;
            position: absolute;
            right: 25px;
            align-self: center;
            text-align: right;
            width: 370px;
            @media screen and (max-width: $break-small) {
                width: 20%;
            }
            @media screen and (max-width: $break-xsmall) {
                width: unset;
            }
            button:first-child {
                margin-right: 10px;
            }
            button:nth-child(2) {
                margin-left: 10px;
            }
        }
        .user-profile-container {
            display: flex;
            flex-flow: row nowrap;
            @media screen and (max-width: $break-small) {
                button {
                    position: absolute;
                    bottom: -43px;
                    right: -5px;
                }
            }
            div {
               flex: 1; 
            }
            div:nth-child(3) {
                flex: 1.5;
            }
            .balance {
                display: flex;
                flex-flow: column;
                padding: 15px;
            }
        }
    }
}

.hamburger-menu-container {
    color: black;
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 35px;
    &:hover {
        cursor: pointer;
    }
}

.nav-icon {
    font-size: 45px;
    color: gray;
    .user {
        font-size: 40px;
    }
    &:hover {
        cursor: pointer;
        color: darkslategray;
    }
}