<div class="navbar-header">
    <div class="nav-container">
        <div class="logo-container column">
            <div class="dm-logo" routerLink="/main/lobby"></div>
        </div>  
        <div class="nav-list-container column" *ngIf="!responsiveService.media.visibleXs">
            <ul class="list-inline">
                <li class="list-inline-item item" 
                    routerLink="/main/lobby"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">Lobby
                </li>
                <li class="list-inline-item item"
                    routerLink="/main/matchups"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">Matchups</li>
                <li class="list-inline-item item"
                    routerLink="/main/live"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">Live</li>
                <li class="list-inline-item item"
                    routerLink="/main/history"
                    [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: true}">History</li>
            </ul>
        </div>
        <div class="buttons-container" *ngIf="!auth.isAuthenticated && !responsiveService.media.visibleXs">
            <button class="white-btn" (click)="goToLogin()">Login</button>
            <button class="gray-btn" (click)="goToSignup()">Join</button>
        </div>
        <div class="buttons-container flex-column" *ngIf="!auth.isAuthenticated && responsiveService.media.visibleXs">
            <button class="white-btn" (click)="goToLogin()">Login</button>
            <button class="gray-btn" (click)="goToSignup()">Join</button>
        </div>
        <div class="user-profile-container" *ngIf="auth.isAuthenticated && !responsiveService.media.visibleXs">
            <div class="help">
                <span class="nav-icon">
                    <dm-icon-select [options]="options"
                               [keys]="{id: 'id', text: 'text', path: 'path'}"
                               class="select-component"
                               [icon]="'fa fa-question-circle-o'"
                               (optionSelected)="goToRoute($event)">
                    </dm-icon-select>
                </span>
            </div>
            <div class="user-profile">
                <span class="nav-icon user">
                    <dm-icon-select [options]="userOptions"
                               [keys]="{id: 'id', text: 'text', path: 'path'}"
                               class="select-component"
                               [icon]="'fa fa-user-circle-o'"
                               [xsmall]="true"
                               (optionSelected)="goToLogin($event)">
                    </dm-icon-select>
                </span>
            </div>
            <div class="balance">
                <div class="flex-column" [ngClass]="{'p-r-20': !responsiveService.media.visibleSm}" >
                    <span><b>${{auth?.authenticatedUser?.balance}}</b></span>
                    <span>Balance</span>
                </div>
                <div><button class="green-btn" >Add Funds</button></div>
            </div>
            
        </div>
        <div class="balance-container" *ngIf="auth.isAuthenticated && responsiveService.media.visibleXs">
            <div class="balance">
                <span><b>${{auth?.authenticatedUser?.balance}}</b></span>
                <span>Balance</span>
            </div>
            <button class="green-btn" >Add Funds</button>
        </div>
        <div class="hamburger-menu-container" *ngIf="responsiveService.media.visibleXs">
            <a id="sidebar-bars" class="navbar-balance" (click)="toggleSidebar()">
                <i id="sidebar-bars-icon" class="fa fa-bars"></i>
            </a>
        </div>
    </div>    
</div>