.app-main {
    min-height: -webkit-calc(100%);
    min-height: -moz-calc(100%);
    min-height: calc(100%);
    height: 100%;
    position: relative;
}
:host /deep/ .fade:not(.show) {
    opacity: 1 !important;
}
:host /deep/ .modal-content {
    margin: 20px auto;
    max-width: 580px;
    position: relative;
    width: 100%;
}