@import "../../../theme/theme-variables";

.dm-withdraw {
    background: #f1f2f3;
    /deep/ dm-banner {
       .dm-banner {
            background: $dm-banner;
       } 
    }
}

.lower-part {
   padding-bottom: 100px;
}