
<div class="dm-withdraw"> 
  <div><!--  *ngIf="pageLoaded" -->
    <dm-banner> </dm-banner>
    <div class="nfl-tab-container">
        <div class="nfl-tab">
            <div class="dm-nfl-icon"></div>
        </div>
    </div>
    <dm-carousel [list]="liveGames"></dm-carousel> <!-- update - list of all games with live scoring -->
    <div class="lower-part container">
      <dm-funds [type]="'withdraw'"
                [title]="'Withdraw funds'"
                [paymentSubmitted]="paymentSubmitted"
                [subtitle]="'Enter the amount you would like to withdraw'"
                (addWithdrawFunds)="withdrawFundsCoinbase($event)"
                (addWithdrawFundsCheckbook)="withdrawFundsCheckbook($event)">
      </dm-funds>       
    </div>
  </div>
</div>
<div class="modal-background" *ngIf="modalHelperService.modalOpened"></div>