

.match-details {
    width: 100px;
}
.player {
    font-size: 19px;
    line-height: 12px;
    text-transform: uppercase;
}
.dm-row {
    width: 100%;
}
.date-details {
    font-size: 15px;
    line-height: 0;
}
.dm-row-cut {
    width: 65%;    
    padding-top: 7px;
    padding-right: 5px;
}