
@import "../../../../theme/theme-variables";

.match-details {
    width: 100px;
}
.player {
    font-size: 19px;
    line-height: 12px;
    text-transform: uppercase;
    @media screen and (max-width: $break-xsmall) {
        font-size: 17px;
    }
}
.dm-row {
    width: 100%;
}
.date-details {
    font-size: 15px;
    line-height: 0;
    @media screen and (max-width: $break-xsmall) {
       font-size: 12px;
    }
}
.dm-row-cut {
    width: 65%;    
    padding-top: 7px;
    padding-right: 5px;
    @media screen and (max-width: $break-xsmall) {
        width: 54%;
        padding-top: 3px;
    }
}