<div class="expanded stadium-image">
  <div class="auth-container">
      <div class="dm-logo-icons logo-section" routerLink="/"></div>
      <div class="reset input-section">
        <div class="title">Reset Password</div>
        <form [formGroup]="resetForm" novalidate *ngIf="!emailSent">
          <div class="input-section-row">
            <div class="auth-label">
              <span>Email Address</span>
            </div>            
            <div>
              <input class="auth-input" type="email" formControlName="email">
            </div>
            <div *ngIf="resetFormSubmitted && resetForm.get('email').errors?.required" class="error-msg">
              <span>Email address is required</span>
            </div>        
            <div *ngIf="resetFormSubmitted && resetForm.get('email').errors?.pattern" class="error-msg">
              <span>Email address is not valid</span>
            </div>
            <div *ngIf="resetFormSubmitted && errorMessage" class="error-msg">
              <span>{{errorMessage}}</span>
            </div>
          </div>
          <div class="auth-agree reset">
            <span>Enter the email address you used to create your account 
              and we’ll send you a reset link.  Please check your spam 
              folder in the event it doesn’t show up in your inbox.</span>
          </div>
          <div class="login-button">
            <button class="btn dm-red-btn" 
                (click)="resetPassword(resetForm)"
                [disabled]="isClickedOnce">Send Reset Link</button>
          </div>
          <div class="input-section-row">
            <div class="auth-label">
              <span>Go back to <span class="cursor-pointer label" routerLink="/login"><b>Login</b></span> </span>
            </div> 
          </div>
        </form>
        <div *ngIf="emailSent">
          <div class="p-30">
            Your password reset request is being processed. Please check your email. 
            For further assistance contact your administrator.
          </div>
          <div class="login-button">
            <button class="btn dm-red-btn" 
                routerLink="/login">Go to login</button>
          </div>
        </div>
      </div>
    </div>      
</div>