@import "../../../theme/theme-variables";

.title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 60px;
}

.subtitle {
    font-size: 25px;
}

.funds-section {
    justify-content: center;
    padding-top: 35px;
}

.fee-btn {
    width: 150px;
    height: 40px;
    background: transparent;
    border: #9a0909 solid 1px;
    color: #9a0909;
    border-radius: 0;
    &:hover, &:focus, &:active, &.active-btn {
        background: #9a0909;
        color: white;
    }
}

.item {
    margin: 0 10px;
}

.input-section {
    padding: 40px 55px;
    input {
        margin-top: 10px;
        border: none;
        border-bottom: 1px solid $dm-light-gray;
        background-color: transparent;
        height: 50px;
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        &:focus {
            outline: none !important;
        }
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16pt;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 16pt;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 16pt;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 16pt;
}

.payment-section {
    text-align: center;
    .payment-type {
        font-size: 12pt;
        width: 50%;
        padding: 20px 80px;
    }

    .dm-bitcoin, .dm-coinbase {
        margin: auto;
    }
}

.coinbase-btn {
    background: white;
    border: 1px solid $dm-light-gray;
    border-radius: 10px;
    margin-bottom: 8px;
} 

.bitcoin-btn {
    border: none;
    background: transparent;
}

.disabled {
    cursor: not-allowed;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}