<div class="contest-details">
  <div class="table">
    <table class="contest-data-table">
      <tr *ngFor="let row of contestData; let i = index">
        <td>
          <div><b>{{row.title}}</b></div>
        </td>
        <td>
          <div class="flex p-l-10">
            <div class="border-left helper"></div>
            <div class="player-image" *ngIf="row.img">
              <img [src]="row.img" alt="">
            </div>
            <div *ngIf="row.clock" class="p-r-10 clock">
              <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            </div>
            <div class="flex-column">
              <div *ngFor="let details of row.data" class="l-h-20">
                <span [style.color]="details.color?details.color:black"
                      [style.font-weight]="details.bold?'bold':'normal'"
                      [style.font-size.px]="details.fontSize?details.fontSize:18">
                      <span *ngIf="i === 1 && details.value !== 0">${{details.data | number}}</span>
                      <span *ngIf="i !== 1 || (i === 1 && details.value === 0)">{{details.data}}</span>
                </span>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="flex edit" (click)="editRow(row)">
              <span *ngIf="!responsiveService.media.visibleXs" class="p-r-10">Edit</span>
              <div class="dm-pencil-icon"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>