<div class="matchup-type">
    <div class="matchup-buttons">
        <button *ngFor="let option of options" 
                class="matchup-btn" 
                [ngClass]="{'active-btn': option.id === selectedTypeId}" 
                (click)="matchupType(option)">{{option.title}}
        </button>
    </div>
    <div class="description" *ngIf="selectedTypeId !== -1">
        <span>{{selectedOptionDescription}}</span>
    </div>
    <div class="info flex-column">
        <span  class="capitalize">Matchup Rules</span> 
        <span>In any of the available matchup types, your opponent cannot select a player from the same real-world event.</span> 
    </div>
</div>