<div class="dm-summary">
    <div class="summary-container">
        <div class="flex-column">
            <span class="username">{{username}}</span>
            <span>{{record}}</span>
        </div>
        <div class="flex-column">
            <span class="value">{{matchups}}</span>
            <span>Matchups</span>
        </div>
        <div class="flex-column">
            <span class="value">${{totalEntries}}</span>
            <span>Total entries</span>
        </div>
        <div class="flex-column">
            <span *ngIf="!matchup" class="value">${{totalWinnings}}</span>
            <span *ngIf="!matchup">Total Winnings</span>
        </div>
    </div>
</div>