<div class="row expanded stadium-image">
  <div class="auth-container">
        <div class="dm-logo-icons logo-section"></div>
        <div class="login input-section">
            <div class="title">Login</div>
            <form [formGroup]="loginForm" novalidate>
                <div class="input-section-row">
                    <div class="auth-label">
                        <span>Username</span>
                    </div>            
                    <div>
                        <input class="auth-input" type="text" formControlName="email">
                    </div>
                </div>
                <div class="input-section-row">
                    <div class="auth-label">
                        <span>Password</span>
                    </div>            
                    <div>
                        <input class="auth-input" type="text" formControlName="password">
                    </div>
                </div>
                <div class="forgot-section">
                    <div class="remember-section label">
                        <div class="checkbox dm-checkbox-red">
                            <label>
                                <input type="checkbox" 
                                    [checked]="remember" 
                                    (change)="remember = !remember">
                                <span>Remember me</span>
                            </label>
                        </div>
                    </div>
                    <div class="label cursor-pointer">Forgot your password?</div>
                </div>
                <div class="login-button">
                    <button class="btn login-btn" 
                        (click)="login(loginForm)"
                        [disabled]="isClickedOnce">Log In</button>
                </div>
            </form>
        </div>
    </div>      
</div>