
.forgot-section {   
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    .label {
        width: 50%;
    }
    .label:first-child {
        text-align: left;
    }
    .label:last-child {
        text-align: right;
    }
}

.login.input-section {
    padding: 30px 10px;
    .title {
        font-size: 30px;
    }
}