<div class="expanded stadium-image">
  <div class="auth-container">
    <div *ngIf="isAdmin" class="dm-logo-icons logo-section" routerLink="/"></div>
    <div *ngIf="!isAdmin" class="dm-logo-game logo-section" routerLink="/"></div>
        <div class="login input-section">
            <div class="title">Login</div>
            <form [formGroup]="loginForm" novalidate>
                <div class="input-section-row">
                    <div class="auth-label">
                        <span>Email Address</span>
                    </div>            
                    <div>
                        <input class="auth-input" type="email" formControlName="email">
                    </div>
                    <div *ngIf="loginFormSubmitted && loginForm.get('email').errors?.required" class="error-msg">
                        <span>Email address is required</span>
                    </div>
                    <div *ngIf="loginFormSubmitted && loginForm.get('email').errors?.pattern" class="error-msg">
                        <span>Email address is not valid</span>
                    </div>
                </div>
                <div class="input-section-row">
                    <div class="auth-label">
                        <span>Password</span>
                    </div>            
                    <div>
                        <input class="auth-input" type="password" formControlName="password">
                    </div>
                    <div *ngIf="loginFormSubmitted && loginForm.get('password').errors?.required" class="error-msg">
                        <span>Password is required</span>
                    </div>
                    
                    <div class="error-msg"
                        [translate]="'LOGIN_COMP.ERRORS.INVALID_USER_PASS'"
                        *ngIf="showErrorInvalidCredentials && 
                               (!loginForm.get('email').errors?.required) && 
                               (!loginForm.get('password').errors?.required) && 
                               (!loginForm.get('email').errors?.pattern)">
                        Invalid credentials
                    </div>
                </div>
                <div class="forgot-section">
                    <div class="remember-section label">
                        <div class="checkbox dm-checkbox-red">
                            <label>
                                <input type="checkbox" 
                                    [checked]="remember" 
                                    (change)="remember = !remember">
                                <span>Remember me</span>
                            </label>
                        </div>
                    </div>
                    <div class="label cursor-pointer" routerLink="/reset-password">Forgot your password?</div>
                </div>
                <div class="login-button">
                    <button class="btn dm-red-btn" 
                        (click)="login(loginForm)"
                        *ngIf="isAdmin"
                        [disabled]="isClickedOnce">Log In
                    </button>
                    <button class="btn dm-red-btn" 
                        (click)="login(loginForm)"
                        *ngIf="!isAdmin"
                        [disabled]="isClickedOnce">Log in to your Account
                    </button>
                </div>
                <div class="input-section-row" *ngIf="!isAdmin">
                  <div class="auth-label">
                    <span>Don't have an account? <span class="cursor-pointer label" routerLink="/signup"><b>Join us</b></span> </span>
                  </div> 
                </div>
            </form>
        </div>
    </div>      
</div>