
<div class="dm-player-ticket">
    <div class="container">
        <label class="username f-16">username</label>
        <div class="flex">
            <div class="dm-player"></div>
            <div class="flex-column p-l-10">
                <div class="flex f-19">
                    <span><b>QB</b></span>
                    <span class="p-l-10">Tom Brady</span>
                </div>
                <span class="f-16">NE@ATL</span>
                <span class="f-16">Tier Rank C</span>
            </div>
            <div class="score">26.3</div>
        </div>
    </div>
</div>