
<div class="dm-player-ticket">
    <div class="container">
        <label class="username f-16">{{username}}</label>
        <div class="flex">
            <div class="dm-player"></div>
            <div class="flex-column p-l-10">
                <div class="flex f-19">
                    <span><b>{{player.position}}</b></span>
                    <span class="p-l-10">{{player.name}}</span>
                </div>
                <div class="f-16 flex">
                    <span [ngClass]="{'bold': game.homeTeam === player.team}">{{game.homeTeam}}</span>
                    @
                    <span [ngClass]="{'bold': game.awayTeam === player.team}">{{game.awayTeam}}</span>
                </div>
                <span class="f-16">Tier Rank {{player.tier}}</span>
            </div>
            <div class="score">{{player.fps}}</div>
        </div>
    </div>
</div>