
<div class="dm-banner">
    <div class="ad-item">
        <ng-adsense [adtest]="'on'"
                    [display]="'inline-block'"
                    [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [width]="160"
                    [adFormat]="'rectangle, horizontal'">
        </ng-adsense>
    </div>
    <div class="ad-item">
        <ng-adsense [adtest]="'on'"
                    [display]="'inline-block'"
                    [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [width]="160"
                    [adFormat]="'rectangle, horizontal'">
        </ng-adsense>
    </div>
    <div class="ad-item">
        <ng-adsense [adtest]="'on'"
                    [display]="'inline-block'"
                    [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [width]="160"
                    [adFormat]="'rectangle, horizontal'">
        </ng-adsense>
    </div>
    <div class="ad-item">
        <ng-adsense [adtest]="'on'"
                    [display]="'inline-block'"
                    [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [width]="160"
                    [adFormat]="'rectangle, horizontal'">
        </ng-adsense>
    </div>
</div>