
<div class="dm-banner">
    <div class="ad-item">
        <ng-adsense [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [adFormat]="'rectangle, horizontal'"
                    [adtest]="'on'">
        </ng-adsense>
    </div>
    <div class="ad-item">
        <ng-adsense [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [adFormat]="'rectangle, horizontal'"
                    [adtest]="'on'">
        </ng-adsense>
    </div>
    <div class="ad-item">
        <ng-adsense [adClient]="'ca-pub-2173766795435813'"
                    [adSlot]="8280455095"
                    [height]="125"
                    [adFormat]="'rectangle, horizontal'"
                    [adtest]="'on'">
        </ng-adsense>
    </div>
</div>