@import "../../../../theme/theme-variables";

.dm-banner {
    height: 130px;
    background: $dm-banner-gray;
    padding-top: 10px;
    display: flex;
    /deep/ ng-adsense {
        .adsbygoogle {
            width: 90%;
            height: 120px !important;
            margin: auto;
        }
    }
}
.ad-item {
    max-width: 400px;
}