@import "../../../../theme/theme-variables";

.players {
    padding: 15px 0;
}

.table {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        thead {
            tr {
                background: #e2e2e2;;
                th {
                    padding: 20px 10px;
                    text-align: center;                    
                    &:nth-child(3) {
                        text-align: left; 
                    }
                }
            }
        }
        tbody {
            td {
                vertical-align: middle;
                width: 10%;
                &:nth-child(3) {
                    width: 25%;
                    @media screen and (max-width: $break-xsmall) {
                        width: 40%;
                    }
                }
            }
        }
    }
}


.green-btn {
    text-transform: uppercase;
    padding: 0px;
    height: 25px;
    font-size: 11px;
    width: 80px
}