  

<div class="modal-content" [ngClass]="{'confirm': !showTable && !confirmMatchup}">
  <div class="modal-header">
    <span>{{title}}</span>
    <span class="close-sign" (click)="close()">X</span>
  </div>
  <div class="modal-body">
    <p *ngIf="message">{{message}}{{amount | number}}</p>
    <p class="f-16" *ngIf="description">{{description}}</p>
    <!-- Confirm modal from LOBBY HEADLINE DRAFT button and after player is selected on enter matchup modal -->
    <div *ngIf="confirmMatchup && confirmMatchupTable">
      <div class="flex match-time">
        <span class="p-10" *ngIf="confirmMatchupTable.entries[0].game.date">{{confirmMatchupTable.entries[0].game.date | date: 'shortDate'}}</span>
        <span class="p-10" *ngIf="confirmMatchupTable.entries[1].game.date">{{confirmMatchupTable.entries[1].game.date | date: 'shortDate'}}</span>
        <span class="p-10">{{confirmMatchupTable.slate?.name || confirmMatchupTable.name}}</span>
        <span class="p-10" *ngIf="confirmMatchupTable.entries[0].game.date">{{confirmMatchupTable.entries[0].game.date | date: 'shortTime'}}</span>
        <span class="p-10" *ngIf="confirmMatchupTable.entries[1].game.date">{{confirmMatchupTable.entries[1].game.date | date: 'shortTime'}}</span>
      </div>
      <div>
        <dm-player-ticket [player]="confirmMatchupTable.entries[0].fantasy_player"
                          [username]="confirmMatchupTable.entries[0].username"
                          [game]="confirmMatchupTable.entries[0].game">        
        </dm-player-ticket>        
        <div class="border-between"></div>
        <dm-player-ticket [player]="confirmMatchupTable.entries[1].fantasy_player"
                          [username]="confirmMatchupTable.entries[1].username || authService.authenticatedUser.username"
                          [game]="confirmMatchupTable.entries[1].game">        
        </dm-player-ticket> 
      </div>
      <br>
      <div class="flex entry-fee">
        <span class="p-10">Entry ${{confirmMatchupTable.entryFee}}</span> 
        <span class="p-10">|</span>
        <span class="p-10">Prize ${{confirmMatchupTable.prize}}</span>
      </div>
    </div>
    <!-- ENTER MATCHUP from LOBBY main table -->
    <div *ngIf="showTable">
      <div class="opponent-section">
        <table>
          <tbody>
            <td><div>Opponent</div></td>
            <td>
              <div class="flex player-data">
                <div class="dm-player"></div>
                <div class="flex-column name">
                  <span>{{tableValues.fantasy_player.name}}</span>
                  <div>
                    <span [ngClass]="{'bold': tableValues.game.homeTeam === tableValues.fantasy_player.team}">
                      {{tableValues.game.homeTeam}}
                    </span>@
                    <span [ngClass]="{'bold': tableValues.game.awayTeam === tableValues.fantasy_player.team}">
                      {{tableValues.game.awayTeam}}
                    </span>
                  </div>
                </div>
              </div>
            </td>
            <td><div>{{tableValues.fantasy_player.fps}}</div></td>
            <td>
              <div class="flex">
                <span class="flex-column p-r-10">${{tableValues.entryFee}} <span class="f-14">Entry</span></span> | 
                <span class="flex-column p-l-10"> ${{tableValues.prize}} <span class="f-14">Prize</span></span> 
              </div>
              </td>
          </tbody>
        </table>
      </div>
      <div class="game-filter p-relative">
        <div class="cursor-pointer" (click)="showGameFilter=!showGameFilter">All Games <i class="fa fa-filter"></i></div>
        <dm-checkbox-filter [items]="gameFilterValues"
                            (optionSelected)="filterOptionSelected($event)"
                            *ngIf="showGameFilter">                
        </dm-checkbox-filter>
          
      </div>
      <div class="players-table" *ngIf="loadPlayersTable">
        <table>
          <thead>
            <tr>
              <th>
                <div class="p-relative">
                  <div class="cursor-pointer" 
                      *ngIf="tableValues.matchupType !== 'tier_ranking'"
                      (click)="showRankFilter=!showRankFilter">Rank 
                    <i class="fa fa-filter"></i>
                  </div>
                  <div *ngIf="tableValues.matchupType === 'tier_ranking'">Rank</div>
                  <dm-checkbox-filter [items]="rankFilterValues"
                                      [isRank]="true"
                                      (optionSelected)="filterOptionSelected($event)"
                                      *ngIf="showRankFilter">                
                  </dm-checkbox-filter>
                </div>                   
              </th>
              <th><div>Position</div></th>
              <th>                
                <div class="cursor-pointer" (click)="orderBy(!sortDesc, 'name')">Player 
                  <i class="fa fa-caret-down" *ngIf="!sortDesc || sortFilter.fps"></i>
                  <i class="fa fa-caret-up" *ngIf="sortDesc && sortFilter.name"></i>
                </div>
              </th>
              <th>
                <div class="cursor-pointer" (click)="orderBy(!sortDesc, 'fps')">FPPG 
                  <i class="fa fa-caret-down" *ngIf="!sortDesc || sortFilter.name"></i>
                  <i class="fa fa-caret-up" *ngIf="sortDesc && sortFilter.fps"></i>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players"
                [ngClass]="{'highlighted':player.selected, 'border-unset': !player.selected}"
                (click)="selectPlayer(player)">
              <td><div>{{player.tier}}</div></td>
              <td><div>{{player.position}}</div></td>
              <td>
                <div class="flex">
                  <div class="dm-player"></div>
                  <div class="flex-column">
                    <div class="p-l-10">{{player.name}}</div>
                    <div class="p-l-10 ta-l">
                      <span [ngClass]="{'bold': player.game.homeTeam === player.team}">{{player.game.homeTeam}}</span>
                      @
                      <span [ngClass]="{'bold': player.game.awayTeam === player.team}">{{player.game.awayTeam}}</span>
                    </div>
                  </div>
                </div>
              </td>
              <td><div>{{player.fps}}</div></td>
            </tr>
            <tr *ngIf="!players || !players.length">
              <td colspan="4"><div class="no-data">No data to show yet</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" 
            class="btn green-btn confirm-btn" 
            [ngClass]="{'disabled': showTable && selectedPlayerId === -1}"
            (click)="confirm()"
            [disabled]="showTable && selectedPlayerId === -1">{{buttonText}}</button>
  </div>
</div>
