@import "../../../../theme/theme-variables";

.modal-header {
    background: #c70e0e;
    box-shadow: 0px -15px 50px #750202 inset;
    justify-content: center;
    text-transform: capitalize;
    color: white;
    font-size: 30px;
    position: relative;
    .close-sign {
        position: absolute;
        right: 10px;
        &:hover {
            cursor: pointer;
        }
    }
}

.modal-body {
    font-size: 25px;
    text-align: center;
    padding: 2rem;
    .match-time {
        font-size: 15px;
        justify-content: space-between;
        border-bottom: 1px solid $dm-red;
    }

    .entry-fee {
        border-top: 1px solid $dm-red;
        font-size: 16px;
        padding: 10px;
    }
}

.modal-footer {
    justify-content: center;
}

.confirm-btn {
    padding: 3px 15px;
    min-width: 140px;
    height: 40px;
    font-size: 20px;
}
.border-between {
    border-bottom: 1px solid $dm-light-gray;
    padding-top: 10px;
    margin: auto 15px;
}

.modal-content.confirm {
    margin: 10% auto !important;
}