@import "~nouislider/distribute/nouislider.min.css";
@import "./theme/theme-variables";
@import "./theme/authentication.scss";
@import "./theme/bootstrap-ext";
@import "./theme/quick.scss";
@import "./theme/main.scss";
@import "./theme/bootstrap.min.css";
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';
//@import url('https://fonts.googleapis.com/css?family=Coiny');

@font-face {
    font-family: 'Ubuntu';
    src: url("assets/font/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  } 
  @font-face {
    font-family: 'Ubuntu';
    src: url("assets/font/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url("assets/font/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

.stadium-image {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url('./assets/images/stadium_grayout.png') no-repeat; //fixed center center
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dm-home-image {
    width: 100%;
    height: 100%;
    min-height: 40rem;
    position: relative;
    background: url('./assets/images/dm-header-background.png') no-repeat; //fixed center center
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-position-x: center;
    @media screen and (min-width: $break-medium) {
        min-height: 1009px;
    }

}

.lobby-bck {
    height: 100%;
    background: url('./assets/images/lobby-bck.jpg') no-repeat; //fixed center center
    background-size: 100% auto;
}

.refer-bck {
    height: 100%;
    background: url('./assets/images/refer-bck.jpg') no-repeat; //fixed center center
    background-size: 100% auto;
}

.dm-logo {
    background: url("./assets/images/logo.png");
    background-size: 150px 105px;
    width: 150px;
    height: 105px;
    background-repeat: no-repeat; 
    &:hover {
        cursor: pointer;
    }
    @media screen and (max-width: $break-large - 1) {
        background-size: 130px 96px;
        width: 130px;
        height: 115px;
    }
    @media screen and (max-width: $break-small) {
        background-size: 106px 83px;
        width: 106px;
        height: 86px;
    }
}

.dm-logo-w {
    background: url("./assets/images/dm-logo-w.png");
    background-size: 200px 115px;
    width: 200px;
    height: 125px;
    background-repeat: no-repeat; 
    &:hover {
        cursor: pointer;
    }
}

.dm-text-logo {
    background: url("./assets/images/text-logo.png");
    background-size: 265px 130px;
    width: 265px;
    height: 150px;
    background-repeat: no-repeat; 
    &:hover {
        cursor: pointer;
    }
}

.dm-logo-icons {
    background: url("./assets/images/dm-logo-icons.svg");
    background-size: 175px 155px;
    width: 175px;
    height: 160px;
    background-repeat: no-repeat; 
    &:hover {
        cursor: pointer;
    }
}

.dm-prize {
    background: url("./assets/images/prize.png");
    background-size: 23px 35px;
    width: 30px;
    height: 35px;
    background-repeat: no-repeat; 
}

.dm-note {
    background: url("./assets/images/note.png");
    background-size: 35px 40px;
    width: 45px;
    height: 40px;
    background-repeat: no-repeat; 
}

.dm-plus-icon {
    background: url("./assets/images/dm-plus.png");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat; 
    @media screen and (max-width: $break-xsmall) {
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
}

.dm-lines {
    background: url("./assets/images/lines.png");
    background-size: 23px 23px;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat; 
}

.dm-pencil-icon {
    background: url("./assets/images/pencil.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat; 
}

.dm-nfl-icon {
    background: url("./assets/images/nfl.png");
    background-size: 125px 47px;
    width: 125px;
    height: 47px;
    background-repeat: no-repeat; 
}

.dm-player {
    background: url("./assets/images/dm-player.png");
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat; 
}

.dm-lock {
    background: url("./assets/images/lock.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat; 
}

.dm-question-mark {
    border: 1px solid;
    background: url("./assets/images/question.png");
    background-size: 60px 60px;
    width: 60px;
    height: 75px;
    background-repeat: no-repeat; 
}

.dm-coinbase {
    background: url("./assets/images/coinbase.png");
    background-size: 100%;
    width: 200px;
    height: 68px;
    background-repeat: no-repeat; 
}

.dm-bitcoin {
    background: url("./assets/images/img_checkbook.png");
    background-size: 100%;
    width: 200px;
    height: 76px;
    background-repeat: no-repeat; 
}

button {
    &:hover {
        cursor: pointer;        
    }
}

.white-btn {
    width: 120px;
    border: 1px solid $border-gray;
    color: $border-gray;
    padding: 5px;
    height: 35px;
    background: #ffffff;
    @media screen and (max-width: $break-xsmall) {
        width: 80px;
        margin-right: 0 !important;
    }
}

.green-btn {
    width: 100px;
    border: 1px solid white;
    color: white;
    padding: 5px;
    height: 35px;
    background: $dm-green;
    &:hover, &:active {
        background: #2ae32a; 
    }
}


.dm-red-btn {
    background: $dm-red-1;
    font-weight: bold;
    border: none;
    color: white;
    width: 100%;
    height: 40px;
    &.disabled {
        cursor: no-drop !important;
        background: $dm-red-btn-hover !important;
    }
    &:hover {
        cursor: pointer;
        background: $dm-red-btn-hover;
    }
}


.gray-btn {
    width: 90px;
    border: 1px solid $border-gray;
    color: #ffffff;
    padding: 5px;
    height: 35px;
    background: $border-gray;
    @media screen and (max-width: $break-xsmall) {
        width: 80px;
        margin-top: 5px;
        margin-left: 0 !important;
    }
}