@import "../../../../theme/theme-variables";
@import "../dm-select-main.scss";

.wrapper-dropdown {
  background: whitesmoke;
  color: gray;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.selection {
  padding: 5px 15px;
  border-radius: 5px;
}

