
<div class="dm-home">
    <div class="expanded stadium-image">
        <div class="home-content flex-column container">
            <div class="primary title">THE FASTEST WAY TO PLAY</div>
            <div class="secundary title">DAILY FANTASY SPORTS</div>
            <div class="signup-container">
                <button class="signup-btn home-btn" routerLink="/signup">Sign up</button>
            </div>
            <div class="registration-container">
                <button class="registration-btn home-btn">Get registration code</button>
            </div>
        </div>
    </div>   
</div>