@import "../../../../theme/theme-variables";

.dm-contest-icon {
    position: relative;
    display: flex;
    align-items: flex-start;
    .flex-icons {
        display: flex;
        align-items: center;
        align-self: center;
        flex-flow: column;
        justify-content: space-between;
        min-width: 120px;
        @media screen and (max-width: $break-xsmall) {
            align-items: flex-start;
            min-width: unset;
        }
    }
    .checkmark {
        background: url("../../../../assets/images/checkmark.png");
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat; 
        @media screen and (max-width: $break-xsmall) {
            background-size: 30px 30px;
            width: 30px;
            height: 30px;
        }
    }
    .chevron {
        background: url("../../../../assets/images/chevron.png");
        background-size: 50px 50px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat; 
        @media screen and (max-width: $break-xsmall) {
            background-size: 30px 30px;
            width: 30px;
            height: 30px;
        }
    }
}
.c-red {
    color: #ee3030;
}
.title {
    font-size: 12px;
    padding-top: 5px;
    @media screen and (max-width: $break-xsmall) {
        font-size: 10px;
        word-wrap: break-word;
        width: 50px;
    }
}

.dots {
    position: absolute;
    top: 7px;
    right: -25px;
    color: $dm-light-gray;
    font-size: 18px;
    &.last-item {
        display: none;
    }
    @media screen and (max-width: 1555px) {
       
    }
    @media screen and (max-width: $break-small) {
        right: -32px;
    }
    @media screen and (max-width: $break-xsmall) {
        right: 11px;
        top: 0px;
    }
    @media screen and (max-width: 400px) {
        right: 5px;
        top: -2px;
    }
}
.dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: clip;
    content: ". . . . . . .";  
    @media screen and (max-width: $break-small) {
        content: ". . .";
    }  
}