<div class="responsible-play">
  <div class="wrapper">
    <dm-navi-bar></dm-navi-bar>
    <div class="header-title">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <h1 class="terms-title">Responsible Play</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="blog-post">
      <div class="container">
        <article class="section section-text">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 page-content-wrap">
              <p>RESPONSIBLE PLAY POLICY</p>
              <p>1. Introduction<br>
                We are committed to responsible gaming, and are dedicated to an enjoyable and positive gaming experience for all of our players.</p>
              <p>2. Age verification<br>
                Any underage player who has provided dishonest or inaccurate information regarding their true age may have all winnings forfeited and could face criminal prosecution.</p>
              <p>Every person signing up for a new account and selects “Play Now” acknowledges they are at least 18 years of age.  This notifies everybody that we don’t accept players under 18.</p>
              <p>3. Staying in Control</p>
              <p>DraftMatch encourages each of its Members to actively participate in the management of their account and so offers a variety of responsible gaming features.</p>
              <p>Deposit Limits</p>
              <p>We believe that you should be allowed to manage your own budget for playing online.  Take financial control of your gaming account with the ability to limit your own preferred deposit limits.</p>
              <p>DraftMatch can set daily, weekly and monthly deposit limits to your account.</p>
              <p>At your request, deposit limits may be decreased, increased or removed entirely. An increase or complete removal of deposit limits will take effect after a 7 day cooling-off period, whilst a decrease to deposit limits will be instantly applied.</p>
              <p>If you would like to set or adjust a deposit limit, please contact Customer Service&nbsp;for assistance.</p>
              <p>Take a break</p>
              <p>We understand that a Member’s personal / financial circumstances may change and that there will be times when it makes sense to take a short break. We provide you with the ability to exclude yourself from playing for various periods of time. You can Take a Break&nbsp;period for any duration, including the following suggested periods:</p>
              <p>12 hours;<br>
                24 hours;<br>
                7 days;<br>
                30 days;<br>
                60 days;<br>
                90 days.</p>
              <p>During this time you cannot log-in or access your Account. If you attempt to avoid the exclusion by registering a new Account, any new Account we identify to be linked, or associated to you, will be suspended and any contest entries may be made void.</p>
              <p>Exclusion </p>
              <p>If, at any stage, you become concerned about your behavior, or reach the point where you feel you can no longer play safely, you need to stop and we can help by excluding you from future participation at DraftMatch.<br>
                &nbsp;<br>
                Upon receipt of your&nbsp;Exclusion&nbsp;request, DraftMatch will take the necessary measures to:<br>
                &nbsp;<br>
                block your access to DraftMatch;<br>
                contact you with a view to returning any remaining funds held in your account(s), subject to any (outstanding wagering requirements and less bonus money.<br>
                &nbsp;</p>                
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>