
<div class="dm-add-funds"> 
  <div><!--  *ngIf="pageLoaded" -->
      <dm-banner> </dm-banner>
      <div class="nfl-tab-container">
          <div class="nfl-tab">
              <div class="dm-nfl-icon"></div>
          </div>
      </div>
      <dm-carousel [list]="liveGames"></dm-carousel> <!-- update - list of all games with live scoring -->
      <div class="lower-part container">
        <dm-funds [items]="items"
                  [myLocation]="myLocation"
                  [type]="'addFunds'"
                  [title]="'Add funds'"
                  [customAmount]="customAmount"
                  [paymentSubmitted]="paymentSubmitted"
                  [subtitle]="'Or enter a custom amount'"
                  (addWithdrawFunds)="addFundsCoinbase($event)">
        </dm-funds>
      </div>
  </div>
</div>
<div class="modal-background" *ngIf="modalHelperService.modalOpened"></div>