@import "../../../theme/theme-variables";

table {
    width: 100%;
    tr {
        border-bottom: 1px solid $dm-light-gray;
        td {
            padding: 10px;                
        }
        &:last-child {
            border: none;
        }
    }
}
.page-content-wrap {    
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
                0 4px 25px 0 rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.p-b-100 {
    padding-bottom: 100px;
}